@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700|PT+Serif:400,700);
@font-face {
  font-family: "Scada";
  src: url(../fonts/Scada-Regular.ttf);
}
@font-face {
  font-family: "ScadaItal";
  src: url(../fonts/Scada-Italic.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf);
}
/*
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
*/
html,
body {
  height: 100%;
}
html,
body,
.pure-g [class*="pure-u"],
.pure-g-r [class*="pure-u"] {
  font: 100%/1.1em "Roboto", sans-serif;
}
body > .pure-g {
  margin-top: 1em;
}
.pure-g > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.inbox {
  text-align: center;
}
.placeholder {
  width: 250px;
  height: 250px;
  margin: auto;
  position: absolute;
}
div[class^="pure-g"] {
  margin-top: 0.6em;
}
div[class^="pure-u"] > div {
  margin: 0.5em 0.3em 0 0.3em;
}
.any-content,
.content-wrapper,
.gap-no-content {
  height: 100%;
}
.content-wrapper {
  padding: 0em 0.5em 0 0.5em;
  background-color: #013446;
  color: white;
}
.content-wrapper > div {
  text-align: right;
  padding-top: 3em;
}
.gap-no-content {
  margin-right: 0.5em;
  margin-left: 0.5em;
}
#clientlogo > .gap-no-content {
  background-image: url(../img/oncosur-logo.png);
  background-repeat: no-repeat;
  background-color: #d0d0d0;
  background-position: auto 0.5em;
}
#mylogo > .gap-no-content {
  background-image: url(../img/telekosmos-lightgreen.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 2em 0.3em;
}
.pure-g > #totalprice {
  margin-bottom: 2em;
}
@media only screen and (min-width: 767px) {
  div[class^="pure-u"] {
    height: 200px;
  }
  .footer {
    height: 50px;
    background-color: black;
    color: white;
    text-align: right;
    padding-right: 0.5em;
    margin: 0.5em 0 0.5em 0;
    font-size: 0.9em;
  }
  .header-items {
    position: relative;
  }
  .header-items .left {
    top: 4em;
    text-align: left;
    left: 1em;
  }
  .header-items .right {
    top: 2em;
    text-align: right;
    right: 1em;
  }
  .header-left {
    position: relative;
    top: 3em;
    text-align: left;
    left: 1em;
  }
  .header-right {
    position: relative;
    top: 3em;
    text-align: right;
    right: 1em;
  }
  /*
  #header {
    height: 200px;
  }

  #mylogo {
    height: 200px;
  }

  #clientlogo {
    height: 200px;
  }
*/
}
