@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700|PT+Serif:400,700);
@font-face {
  font-family: "title-font";
  src: url(fonts/ChallengeContour.ttf);
}
@font-face {
  font-family: "GrandHotel";
  src: url(fonts/GrandHotel-Regular.ttf);
}
@font-face {
  font-family: "TeamSpirit";
  src: url(../fonts/TeamSpiritNF.ttf);
}
@font-face {
  font-family: "Sverige";
  src: url(../fonts/SverigeScriptClean.ttf);
}
@font-face {
  font-family: "SverigeScript";
  src: url(../fonts/SverigeScriptDecorated.ttf);
}
@font-face {
  font-family: "Champignon";
  src: url(../fonts/Champignon.otf);
}
/*
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
*/
html,
body {
  height: 100%;
  font: 100%/1.5em "PT Sans", sans-serif;
  margin: 0;
  padding: 0;
}

h2 {
  font: 100%/1.5em "PT Sans", sans-serif;
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
}

/*
header h1 {
  font-family: Champignon;
  font-style: oblique;
  text-shadow: -2px 0 #301809, 0 2px #301809, 2px 0 #301809, 0 -2px #301809;
  color: lightyellow;
  font-size: 16em;
  line-height: 1em;
  margin-bottom: 0.2em;
}
header span {
  font-size: 2.5em;
  font-style: italic;
  font-weight: bold;
  color: darkorange;
}
h2 {
  font-size: 1.6em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
header #title {
  padding-top: 20%;
  text-align: center;
}
header #subtitle {
  text-align: center;
  padding-top: 5%;
}

.container-full {
  margin: 0 auto;
  padding: 0 15px;
}
.placeholder {
  width: 250px;
  height: 250px;
  margin: auto;
  position: absolute;
}
*/

/* No media query as it is the default for bootstrap 3 ************************/
// Header styles
.customband {
  background: url(../img/lollis-sm-blur768.jpg) no-repeat center center fixed;
  background-attachment: fixed;
  background-size: cover;
  background-position: 0 0;
  width: 100%;
  height: 100%;
  position: relative;
  // box-shadow: inset 0px 10px 10px rgba(0, 0, 0, 0.3);
}
header {
  h1 {
    font-family: Champignon;
    font-style: oblique;
    text-shadow: -2px 0 #301809, 0 2px #301809, 2px 0 #301809, 0 -2px #301809;
    color: lightyellow;
    font-size: 6em;
    line-height: 1em;
    margin-bottom: 0.2em;
  }
  span {
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
    color: darkorange;
  }
  h2 {
    font-size: 1.6em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }
  #title {
    padding-top: 20%;
    text-align: center;
  }
  #subtitle {
    text-align: center;
    padding-top: 5%;
  }
}


section#circles {
  background-color: #d3d3d3;
  width: 100%;
  padding: 0 15px;
  font-style: italic;
  font-weight: bold;
  color: darkorange;

  div.col-sm-12 {
    text-align: center;
    h2 {
      color: darkorange;
    }
  }

  div img {
    border: 5px solid;
    border-color: #ae609d;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    behavior: url(~/telekosmos/DevOps/libs/js/css3pie2.0b1/PIE.htc);
  }

  div.row :last-child {
    margin-bottom: 1em;
  }
}


section#events {
  img {
    width: 90px;
    height: 90px;
    margin-left: 2.5em;
    // margin-right: 10%;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-color: gold;
    border-style: solid;
    border-width: 2px;
    background-color: #04c1bf;
    behavior: url(~/telekosmos/DevOps/libs/js/css3pie2.0b1/PIE.htc);
  }

  div h2 {
    text-align: center;
    // font-size: 2em;
    color: darkorange;
  }

  div.row {
    margin-bottom: 1%;
  }

  // .evfont don't apply the default font :-S
  div span {
    font-size: 1em;
    font-style: italic;
    // margin-left: 2.5em;
  }

}


div.col-md-4 {
  margin-top: 1em;

  img[id^="imgcircle"] {
    width: 75%;
    height: 75%;
    margin: 0 auto;
  }
}


#aboutus {
  height: 100px; 
  background-color: #ffff00; // gold; 
  margin: 100px 0 0 0;
}


/*
div#icn {
  background: url(../img/choco_cake.gif);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  background-position: center;
  height: 50px;
  width: 50px;
  display: inline;
}
*/
// @media only screen and (min-width: 767px) {
/* Medium devices (desktops, 992px and up) */

